.setMrgn {
    margin-top: 20px;
}

.btnMrgn {
    margin-left: 10px;
}

.setBtn {
    float: right;
}

.invalid-feedback {
    display: block !important;
}

.setPosition {
    float: left;
    margin-bottom: 20px;
}